.defaultButton {
  width: 250px;
  text-align: center;
  height: 40px;
  padding-top: 10px;
  box-sizing: border-box;
  transition: 0.3s all;
  color: white;
  margin-top: 8px;
  border-radius: 5px;
  background-color: #9447ad;
}

.defaultButton:hover {
  cursor: pointer;
  background-color: #3f8df3;
}
